.footer {
    display: flex;
    justify-content: space-between;
    background-color: rgb(242, 11, 96); 
    color: pink; 
    padding: 55px; 
  }
  
  .footer-logo {
   color: pink
  }
  
  .footer-logo h2 {
    display: flex;
    align-items: center;
  }

  .footer-content{
    color: pink;
  }
  
  .address{
    color: pink
  }
  